.navbar {
    box-shadow: 2px 2px 18px #18191b;
    background-color: hsl(248, 37%, 15%);
}

h1{
    margin-right: 0rem;
    text-align: left;
}

.logo{
    margin-left: 2rem;
}

ul{
    display: flex;
    list-style: none;
    gap: 4rem;
}

.logo a{
    display: flex;
    align-items: center;
}

.nav__container {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10rem;
}

.icon{
    width: 50px;
    height: 50px;
}

.purple{
    color: hsl(250, 69%, 61%);
}

@media screen and (max-width: 700px){
    ul{
        gap:1rem;
    }

    .nav__container{
        gap: 1rem;
    }

    h1{
        font-size: medium;
        margin-left: -0.25rem;
    }

    li{
        font-size:xx-small;
    }

    .logo img{
        height: 25px;
        width: 25px;
    }

    .logo{
        margin-left: 0.5rem;
    }
}

